
/*Nav*/
.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0; 
  left: 0;
  padding: 20px 20px;
  font-size: 16px;
  color: #333;
  text-transform: lowercase;
  font-weight: 300;
  cursor: pointer;
  z-index: 2; 
  @include width-more-than($tablet-breakpoint) {
    padding: 40px 40px; 
    font-size: 20px; 
  }
}

.top-nav__logo {
  text-decoration: none;
  padding: 10px 15px; 
  background-image: linear-gradient(3deg, #FF512F 0%, #DD2476 100%);
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.homepage-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; 
  height: 100vh;
  line-height: 1.5;
  max-width: 300px;
  @include width-more-than($tablet-breakpoint) {
    max-width: 630px;
  }
  @include width-more-than($desktop-breakpoint) {
    max-width: 800px;
  }
}

.homepage-header__logo-container {
  text-align: left;
}

.homepage-header__logo-text {
  margin: 0;
  font-size: 36px; 
  font-weight: 700; 
  color: #333;
  @include width-more-than($tablet-breakpoint) {
    font-size: 60px; 
  }
  @include width-more-than($desktop-breakpoint) {
    font-size: 70px; 
  }
}
.homepage-header__subtitle-container {
  text-align: left;
  margin-top: 20px;
  opacity: 0;
}
.homepage-header__subtitle {
  font-size: 20px; 
  color: #333; 
  font-weight: 400; 
  @include width-more-than($tablet-breakpoint) {
    font-size: 28px; 
  }
}

.homepage-header__divider {
  font-size: 20px;
  font-weight: 300;
}

.homepage-header__seperator {
  display: inline-block;
  margin: 0 15px; 
  width: 25px;
  height: 4px;
  vertical-align: middle;
  background-color: black;
  @include width-more-than($tablet-breakpoint) {
    width: 50px;
  }
}

.homepage-header__icon-link {
  display: block;
  cursor: pointer;
}

.homepage-header__icon-container {
  align-self: center;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  text-align: center;
  @include width-more-than($tablet-breakpoint) {
    bottom: 50px; 
  }
  @include width-more-than($desktop-breakpoint) {
    bottom: 75px;
  }
}
.homepage-header__icon {
  width: 30px;
  height: 30px;
}

.homepage-header__scroll-text {
  font-size: 14px; 
  color: #7a7a7a;
  cursor: pointer;
}

.homepage-header__subtitle-container.anim-slide-up {
  animation-duration: 1s;
  opacity: 1;
}

.homepage-header__icon-container.anim-slide-up.show {
  opacity: 1;
}