$bright-red: #F62459;
$green-accent: #86E2D5;
$black: #424224;
$Roboto: 'Roboto', sans-serif;
$Poiret: 'Poiret One', cursive;
$yellow: #F5D76E;



/*Font sizes*/
$big: 50px;
$huge: 120px; 
$default: 16px; 
$medium: 20px; 

/*Font weights*/
$bold: 700; 
$default-weight: 400; 
$light: 300; 

*
{
font-family: $Roboto;
}

body
{
    background-color: $green-accent; 
    font-family: $Roboto;
    color: white;
}

.type 
{

    h1
    {
    color: white;
    font-size: $huge;
    font-weight:$bold;
    }
    
    p 
    {
    color: white;
	font-size: $default;
    font-weight:$default-weight;
    }
    



    /*That's it. Enjoy!!! :) */

}
.type-container {
    width: 350px;
    margin-top: 10%;
    text-align: center;
    padding: 1em 1em 1em 1em;

 
    
}





.first {
    display: none;
    border-bottom: 5px white solid; 
}

#firstText {
    padding-top: 1em;
}

#myName {
    font-size: ($medium)+4;
    font-weight: $light;   
    margin-top: 2em; 
    margin-bottom: 1em; 
   display: none;
}

#description {
    font-size: ($medium)-3;
    font-weight: $light; 
    font-family: $Poiret;
}

.outer-container {
    background-color: $bright-red;
    max-width: 400px;
    height: 500px;
        -webkit-box-shadow: 10px 10px 10px #888888;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 5px;
    
}
