button:focus {
  outline: none; }

.intro {
  font-family: "Roboto", sans-serif;
  color: #424242;
  height: 500px;
  background-size: cover;
  width: 100%;
  margin-bottom: 50px; }

.logo {
  font-family: "Roboto", sans-serif;
  background-color: white;
  max-width: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  margin: auto;
  margin-top: 50px;
  text-align: left;
  font-size: 80px;
  color: #212121;
  border: 10px solid #F62459;
  display: none; }
  @media screen and (max-width: 576px) {
    .logo {
      font-size: 45px; } }

.white {
  color: white; }

#intro-text {
  font-weight: 300; }

.screencap {
  width: 100%; }

.bold {
  font-weight: 700; }

.black {
  color: #424242;
  margin-top: 0; }

.accent {
  color: #F62459; }

p {
  font-size: 13px; }

.subtext {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #424242; }

.screencap_block {
  margin-top: 20px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1; }
  .screencap_block:hover {
    cursor: pointer;
    opacity: 0.7;
    -webkit-box-shadow: 5px 3px 10px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 5px 4px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 6px 4px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

img:hover {
  cursor: pointer; }

.info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  margin: auto;
  opacity: 0.0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .info:hover {
    opacity: 1.0; }

.block_info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 25%;
  opacity: 1;
  color: black;
  z-index: 99; }

.view {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #F62459;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .view:hover {
    background-color: white;
    text-decoration: none;
    color: #212121; }

.intro-content {
  text-align: center; }

.hello {
  margin-bottom: 5px;
  color: black;
  padding: 20px;
  text-align: left; }
  @media screen and (max-width: 576px) {
    .hello {
      font-size: 50px; } }

.bio {
  font-size: 14px; }

.content {
  padding-top: 250px;
  padding-bottom: 50px; }
  @media screen and (max-width: 576px) {
    .content {
      padding-top: 100px; } }

#name_title {
  padding-top: 30px;
  padding-bottom: 10px;
  color: black;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

#second_line {
  font-size: 55px; }

#first_line {
  font-size: 80px; }

.logo_container {
  margin: auto; }

#clean {
  margin-bottom: 2px; }

#av {
  border: 2px solid black;
  padding: 5px; }

.bold {
  font-weight: 700; }

#subtitle {
  font-size: 14px;
  color: #212121; }

.box {
  background-color: white;
  padding: 5px; }

#nav {
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-size: 12px; }

._view {
  color: #212121;
  text-decoration: none; }
  ._view:hover {
    background-color: white;
    text-decoration: none;
    color: #212121; }

footer {
  margin-top: 15px;
  height: 50px; }

#footer {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 300;
  font-size: 12px;
  padding-top: 5px; }

.back {
  margin: 20px; }

.headline {
  font-size: 20px;
  font-family: "Roboto", sans-serif; }

.box-outline {
  border: 5px solid black;
  width: 300px;
  padding: 10px; }

.box-container {
  margin: 0 auto;
  align: center; }

.tasks {
  font-size: 25px; }

.image-holder {
  max-width: 800px;
  margin: auto;
  padding-top: 20px; }

.about {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.middle {
  margin: auto; }

#scroll-down {
  margin-top: 20px; }

.description {
  width: 100%;
  text-align: left; }

.description-container {
  max-width: 550px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  padding-bottom: 30px; }
  @media screen and (max-width: 576px) {
    .description-container {
      max-width: 350px; } }

.backButton {
  border-left: 2px solid black;
  padding-left: 5px;
  width: 60px; }

.btn {
  border-radius: 0;
  border: 2px solid black;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all .5s ease-out; }
  .btn:hover {
    color: #F62459;
    border: 2px solid #F62459; }

#links_title {
  display: none; }

.fadeInContent {
  display: none; }

.boxes {
  width: 100%; }

.boxesContainer {
  max-width: 800px; }

.video-holder {
  padding-top: 10px;
  padding-bottom: 10px; }

.descriptionVideo {
  padding: 30px; }

.video {
  padding-top: 50px;
  width: 100%; }

video {
  height: 480; }

.videoBox {
  border: 2px solid black; }

.descriptionVideoText {
  font-size: 30px; }

.replay {
  background-color: white;
  font-color: black;
  font-size: 15px; }

.btnYellow {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 2px solid black;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all .5s ease-out; }
  .btnYellow:hover {
    color: #F5D76E;
    border: 2px solid #F5D76E; }

.replay-container {
  margin-bottom: 40px; }

#hometownVidContainer {
  max-width: 800px; }

.thing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
