@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.simple-media {
  margin: 50px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simple-media__container {
  opacity: 1;
  animation: fadeIn 2s;
  text-align: center;
  width: 320px;

  @include width-more-than($tablet-breakpoint) {
    width: 600px;
  }

  @include width-more-than($desktop-breakpoint) {
    width: 800px;
  }
}

.simple-media__item {
  display: inline-block;
  margin: 0px 10px;
  width: 25%;
}

.simple-media__img {
  width: 100%;
}