* {
    padding: 0px;
    margin: 0px
}

hr {color: sienna;}

h1 
{
font-family: 'Poiret One', cursive;
font-size: 150px;
color: #36D7B7; 
}

h2 
{
font-family: 'Poiret One', cursive;
font-size: 80px;
color: #81CFE0; 
}

h2 Alex
{
font-family: 'Poiret One', cursive;
font-size: 90px;
color: #3498db;
}

h3
{
font-family: 'Poiret One', cursive;
font-size: 40px;
color: #ffffff;
}

h3 colorswitch
{
font-family: 'Poiret One', cursive;
font-size: 40px;
color: #336E7B;
}

p {
font-family: 'Poiret One', cursive;
margin-left: 20px;
color: #ffffff;
font-size: 30px;

}



#landing
{
max-width: 1000px;
background-color: #34495E;
}

.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.btn-block {
  white-space: normal;
}

.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.btn-primary {
  color: #ffffff;
  background-color: #1abc9c;
}

.button
{
  padding:15px;
  background-color: #3498db;
  border: 0px solid #666;
  color:#ffffff;
  text-decoration:none;
  line-height: 1.4;
  border-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.button:hover
{
background-color: #22313f;
color:#ffffff;
}



input {
    border: 5px solid #3498db; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    background: transparent;
    color: white;
    font-size: 30px;
}

textarea:focus, input:focus {
    color: white;
}

#slideshow {
    margin:  auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow img {
    max-width:240px;
    max-height:240px;
}

ul {
    list-style:none;
    margin:0px;
    padding:0px;
}
ul li {
    float:left;
    border-radius:10px;
    width:10px;
    height:10px;
    border:1px solid white;
    background:grey;
}
ul li.active {
    background:black;
}

span {
    position: absolute;
    top: 0;
}
body {
    max-width:1000px;
    margin:auto;
    background-color:#34495E;
}

h4 {
    font-family: 'Poiret One', cursive;
    color:#1abc9a;
    font-size:25px;
}
